/* google fonts */
body {
 font-family: 'Poppins', sans-serif;
}
ul{
list-style-type: none;
}
.bg-honda {
 background: #264653;
}

.btn-honda {
 color: white;
 background: tomato;
 border: 0;
 padding: 0.5rem 0.9rem;
 text-transform: capitalize;
}

.grayscale-img {
 filter: grayscale(100%);
}

.orange {
 color: orangered;
}

.user-img img {
 width: 149px;
 height: 149px;
}

.yellow-star {
 color: orange;
}

.bg-brand {
 background: #f3f0f0;
}

footer {
 background: #0B0D17;
}